*, *::before, *::after {
    box-sizing: border-box;
  }

  * {
    margin: 0;
  }

  html, body {
    height: 100%;
  }

  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }

  img, picture, video, canvas, svg {
    display: block;
    max-width: 100%;
  }

  input, button, textarea, select {
    font: inherit;
  }

  p, h1, h2, h3, h4, h5, h6 {
    overflow-wrap: break-word;
  }

html {
    font-size: 16px;
}

body {
    background-color: hsl(217, 54%, 11%);
    display: flex;
    justify-content: center;
    align-items: center;
}

article {
  box-shadow: 0px 2px 121px 10px rgba(0, 0, 0, 0.39), 
-17px 30px 43px 7px rgba(0, 0, 0, 0.30);
}

h1 {
  font-family: 'Outfit', sans-serif;
  font-size: 1.4rem;
  font-weight: 520;
  color: hsl(0, 0%, 100%);
}

p  {
  color: hsl(215, 51%, 70%);
}

.popis {
  font-size: 1.13rem;
  font-weight: 300;
  font-family: 'Outfit', sans-serif;
}


main {
  width: 21.875rem;
}

.karta {
    background-color: hsl(216, 50%, 16%);
    padding: 1.5rem;
    border-radius: 0.85rem;
}

.karta__kontekt {
  display: flex;
  flex-direction: column;
  gap: 1.35rem;
  margin-top: 1.4rem;
}

.banner {
    width: 100%;
    border-radius: 0.6rem;
}

.flex-container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

}

.nadpis  {
  display: flex;
  flex-direction: column;
  gap: 0.9rem;
}

hr {
  display: block;
  height: 0.4px;
  border: 0;
  border-top: 1px solid hsl(215, 32%, 27%);
}

.karta__cena img {
  width: 12px;
  float: left;
  align-self: center;
}

.karta__cena {
  width: 50%;
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-weight: 600;
  font-family: 'Outfit', sans-serif;

}

.karta__time {
  width: 50%;
  display: flex;
  justify-content: end;
  gap: 0.5rem;

}

.eth {
  color: hsl(178, 100%, 50%);
}

.left {
  font-size: 1.03rem;
  font-family: 'Outfit', sans-serif;
  font-weight: 400;

}

.karta__time img {
  width: 18px;
  align-self: center;
}

.flex-container__footer {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin-top: 17px;
  margin-bottom: 10px;
}

.flex-container__footer img {
  width: 11%;
  align-self: center;
  border: 1px solid white;
  border-radius: 50%;
}

.footer__text {
  font-family: 'Outfit', sans-serif;
  font-weight: 300;
  letter-spacing: 1px;
}

.footer__text span {
  font-family: 'Outfit', sans-serif;
  color: white;
}

.karta__obrazek {
  position: relative;
}

.karta__obrazek div {
 position: absolute;
 background-color: hsl(178, 100%, 50%, 60%);
 top: 0;
 width: 100%;
 height: 100%;
 opacity: 0;
 border-radius: 0.6rem;
}

.karta__obrazek div:hover {
  opacity: 1;
  cursor: pointer;
}

.karta__obrazek div img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

h1:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}

span:hover {
  color: hsl(178, 100%, 50%);
  cursor: pointer;
}